$primary:#E1242A;
$primary5: #FFEDED;
$primary10:#FDB8B8;
$primary20:#F78C85;
$primary40:#BD120A;
$primary60:#891515;
$primary80:#450A0A;


$themeBlack: #15141F;
$themeBlack5: #F9F9FA;
$themeBlack10:#E8E8E8;
$themeBlack20:#DBDDE0;
$themeBlack40:#CACCCF;
$themeBlack60:#A0A4A8;
$themeBlack80:#52575C;

$background: $themeBlack5;
$warningSuperLight: #FEF6E6;
$warningLight: #FCDB9D;
$warningDefault: #F6A609;
$warningDark: #E89806;


$SuccessSuperLight: #EAF9F0;
$SuccessLight: #AAE9C3;
$SuccessDefault: #2AC769;
$SuccessDark: #1AB759;


$errorSuperLight:#FFEDED;
$errorLight:#FDB8B8;
$errorDefault:#FB4E4E;
$errorDark:#E93C3C;

// $primary: (
//     main: #E1242A,
//     A5: #FFEDED,
//     A10:#FDB8B8,
//     A20:#F78C85,
//     A40:#BD120A,
//     A60:#891515,
//     A80:#450A0A,
// );

// $themeBlack: (
//     main: #15141F,
//     A5: #F9F9FA,
//     A10:#E8E8E8,
//     A20:#DBDDE0,
//     A40:#CACCCF,
//     A60:#A0A4A8,
//     A80:#52575C,
// );

// $warning: (
//     superLight: #FEF6E6,
//     light: #FCDB9D,
//     default: #F6A609,
//     dark: #E89806,
// );

// $success: (
//     superLight: #EAF9F0,
//     light: #AAE9C3,
//     default: #2AC769,
//     dark: #1AB759,
// );

// $error: (
//     superLight:#FFEDED,
//     light:#FDB8B8,
//     default:#FB4E4E,
//     dark:#E93C3C,
// );

// $background:$themeBlack;
